.main_bascet {
  padding: 20px 20px;
  min-height: 600px;
  &_title {
    text-align: center;
  }

  &_items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
  }
}

.bascetCard {
  width: 300px;
  height: 400px;
  margin: 0 10px 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_image img {
    width: 100%;
    height: 100%;
  }
 
  &_quantityBox {
    width: 30%;
    margin: 5px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &_productQuantity {
    color: violet;
    font-weight: bold;
  }

} 

.total_amount {
  width: 30%;
  margin: 15px auto;
  padding: 15px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
  
}

.border_hr {
  height: 2px;
  background-color: black;
  margin: 8px 0px;
}

.modal_body {
  display: flex;
  padding: 2px 15px;
  justify-content: space-between;
  border: 1px solid #000;
  margin: 5px 0px;
  padding: 2px 3px;

}

.modal_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 3px;
}

.modal_total_amount {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.notAreProduct {
  color: red;
  font-weight: bold;
  font-size: 20px;
  margin: 15px auto;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  .modal_body {
    display: block;
  }
}

