.main_bascet {
  padding: 20px 20px;
  min-height: 600px;
  &_title {
    text-align: center;
  }

  &_items{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
  }
}

.bascetCard {
  width: 300px;
  height: 400px;
  margin: 0 10px 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_image img {
    width: 100%;
    height: 100%;
  }

  &_quantityBox {
    width: 50%;
    margin: 5px auto;
    display: flex;
    justify-content: space-around;

    &_plus {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: green;
      outline: none;
      border: navajowhite;
      font-weight: bold;
      color: red;
    }

    &_minus {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: red;
      outline: none;
      font-size: 18px;
      border: navajowhite;
      font-weight: bold;
      color: black;
    }

    button:focus{
      outline: 0;
    }

  }

}

.bascet_range {
  color: tomato;
}
