.fullProductPage {
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap-reverse;
  margin: 10px auto;
}

.FullProductPage_products {
  width: 900px;
}

.FullProductPage_products_items {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.FullProductCard {
  width: 200px;
  height: 350px;
  margin: 0 2px 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_image img{
    width: 100%;
    height: 95%;
  }

}

.fullProductPage_filter {
  border: 1px solid black;
  flex: 1;
  padding: 8px;
}

.filtrSale {
display: flex;
justify-content: space-around;
padding: 5px 5px;


& input{
  width: 40%;
  margin-left: 5px;
  outline: none;
  text-align: right;
}

}

.filtrCategory {
  margin: 30px 0;
}

@media only screen and (max-width: 1154px) {
  .fullProductPage {
    justify-content: center;
  }
  .fullProductPage_filter {
    flex: none;
  }
}

@media only screen and (max-width: 450px) {
  .fullProductPage {
    justify-content: space-between;
  }
  .fullProductPage_filter {
    flex: 1;
  }
}